@import '../../node_modules/ress/ress.css';
@import '../../node_modules/overlayscrollbars/css/OverlayScrollbars.css';

html {
    overflow: hidden;
}

@keyframes loading-spin {
    0% {transform: rotate(0deg);}
    90% {transform: rotate(1440deg);}
    100% {transform: rotate(1440deg);}
}
